#container {
    text-align: center;
}

#logo {
    margin-top: 125px;
    margin: 20px;
    width: 100px;
    height: 100px;
}

#title {
    font-family: "Spartan", sans-serif;
    font-size: 24;
    margin: 20px;
}

button {
    margin: 20px;
}